@import "tailwindcss";

@theme {
  
  --color-kopi-50: #FAF6F3;  
  --color-kopi-800: #4A3B32; 
  --color-kopi-900: #2C211A; 
  --color-kopi-accent: #B26A3E; 
}


@layer base {
  body {
    @apply bg-kopi-50 text-kopi-800 antialiased selection:bg-kopi-accent selection:text-white;
  }
}